{{ define "component.tabs" }}
<div id="{{ .ID }}" class="a2ui-tabs {{ .Class }}">
  {{ if .Tabs }}
  {{ range $i, $tab := .Tabs.Items }}
  <input class="a2ui-tabs__radio" type="radio" name="{{ $.ID }}-tabs" id="{{ $.ID }}-tab-{{ $i }}" {{ if eq $i 0 }}checked{{ end }}>
  {{ end }}

  <div class="a2ui-tabs__panels">
    <div class="a2ui-tabs__nav" role="tablist">
      {{ range $i, $tab := .Tabs.Items }}
      <label class="a2ui-tabs__tab" role="tab" for="{{ $.ID }}-tab-{{ $i }}">{{ $tab.Title }}</label>
      {{ end }}
    </div>
    {{ range $i, $tab := .Tabs.Items }}
    <div class="a2ui-tabs__panel" data-panel-idx="{{ $i }}">{{ $tab.Content }}</div>
    {{ end }}
  </div>

  <style>
    #{{ .ID }} .a2ui-tabs__radio {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    #{{ .ID }} .a2ui-tabs__panel {
      display: none;
    }
    {{ range $i, $tab := .Tabs.Items }}
    #{{ $.ID }}-tab-{{ $i }}:checked ~ .a2ui-tabs__panels .a2ui-tabs__nav label[for="{{ $.ID }}-tab-{{ $i }}"] {
      background: var(--a2ui-color-primary);
      border-color: var(--a2ui-color-primary);
      color: var(--a2ui-color-on-primary);
    }
    #{{ $.ID }}-tab-{{ $i }}:checked ~ .a2ui-tabs__panels .a2ui-tabs__panel[data-panel-idx="{{ $i }}"] {
      display: block;
    }
    {{ end }}
  </style>
  {{ end }}
</div>
{{ end }}
